:root {
    --game-size: 8;
    --tile-size: 50px;
    --node-size: 58px;
    --border-radius: 10px;

    --tile-main-color: transparent;
    --tile-secondary-color: transparent;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    margin: 0;

    background-color: #333333;
}

#game {
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--game-size), var(--node-size));
    grid-template-rows: repeat(var(--game-size), var(--node-size));
}

.node {
    position: relative;
    z-index: 1;
}

.node[data-node-selected=true] {
    border-radius: var(--border-radius);
    animation: selected 1s linear forwards infinite;
}

.tile {
    display: block;
    box-shadow: inset 0 0 10px 1px var(--tile-secondary-color);
    background-color: var(--tile-main-color);

    border: 4px solid transparent;
    border-radius: var(--border-radius);

    box-sizing: border-box;

    position: absolute;

    z-index: 2;

    left: var(--x);
    top: var(--y);

    width: var(--tile-size);
    height: var(--tile-size);

    pointer-events: none;

    transition: all 0s ease;
}

.tile[data-tile-type=red] {
    --tile-main-color:red;
    --tile-secondary-color: darkred;
}

.tile[data-tile-type=green] {
    --tile-main-color: green;
    --tile-secondary-color: darkgreen;
}

.tile[data-tile-type=yellow] {
    --tile-main-color: yellow;
    --tile-secondary-color: #b1b100;
}

.tile[data-tile-type=blue] {
    --tile-main-color: blue;
    --tile-secondary-color: darkblue;
}

.tile[data-tile-type=empty] {
    opacity: 0;
}

.tile[data-tile-special^=striped-]::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    
    border-radius: var(--border-radius);
}

.tile[data-tile-special=striped-horizontal]::after {
    background-image: repeating-linear-gradient(180deg, white, white 5px, transparent 5px, transparent 15px);
}

.tile[data-tile-special=striped-vertical]::after {
    background-image: repeating-linear-gradient(90deg, white, white 5px, transparent 5px, transparent 15px);
}

.tile[data-tile-explode] {
    transform: scale(1);
}

.tile[data-tile-explode=true] {
    transform: scale(2);
    opacity: 0;
}

@keyframes selected {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    50% {
        background-color: rgba(255, 255, 255, 1);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}